head{
color: rgb(245, 137, 137);
background-color: black;
padding: 300px;



















}





main
{
   
    







}
.bro{
background-color: rgb(14, 14, 14);
    color: rgb(255, 255, 255);
height: 500px;
width: 500px;
max-width: 100%;
margin: 0 auto;

}
.block1{
background-color: aliceblue;
color: black;
padding-top: 60px;
padding-left: 60px;
padding-right: 50px;
height: 250px;
width: 250px;
margin: 0 auto;



}
header{
padding: 700px;
padding-top: 100px;
font-size: xx-large;



}

body{
background-color: rgb(211, 211, 211);

}